/* Regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* CSS relativo al main con pulsanti in alto a destra e finestra principale */

main {
    height: calc(100vh - 70px);
    background-color: black;
    position: relative;
}

#pulsanti-schermata {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    color: white;
    z-index: 1;
}

.btn-schermata {
    background-color: rgb(54, 54, 54);
    padding: 5px 10px;
    margin: 0 2px;
    border-radius: 5px;
}

#blocco-principale {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#blocco-principale .freccia {
    color: white;
    text-align: center;
}

#blocco-principale .freccia i {
    font-size: 40px;
    color: grey;
}

#blocco-principale .freccia .fa-caret-right {
    color: dodgerblue;
}

#schermi-partecipanti {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 90%;
    max-height: 100%;
    overflow-y: hidden;
}

.partecipante {
    margin: 3px;
    width: 200px;
    height: 120px;
    text-align: center;
    position: relative;

    /* debug */
    
    background-color: rgb(240, 92, 65);
}

.partecipante img {
    object-fit: contain;
    max-height: 100%;
}

.nome-partecipante {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2px;
}



/* CSS relativo al footer che contiene la barra degli strumenti */

footer {
    height: 70px;
    background-color: rgb(54, 54, 54);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(219, 219, 219);
}

.nav {
    display: flex;
    height: fit-content;
}

.nav.dx {
    color: red;
    background-color: rgb(92, 92, 92);
    height: 100%;
}

.nav.dx .btn-barra {
    line-height: 70px;
    vertical-align: middle;
}

.btn-barra {
    text-align: center;
    margin: 0 10px;
}

.btn-barra i {
    font-size: 24px;
}

.btn-barra .fa-chevron-up {
    font-size: 18px;
    margin-left: 10px;
}

.btn-barra .fa-desktop {
    color: green;
}

.btn-barra.flex {
    display: flex;
    align-items: center;
}
